body {
    background-image: url("desk_bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    
}

#header {
    font-size: 2em;
    background: rgba(255,255,255,0.7);
    margin: 25px 0px 0px 0px;
    width: cover;
    height: 40px;
    border-radius: 0px;
    padding-left: 15px;
}

#obj-wrapper {
    font-size: 1em;
    display: block;
    background-color: rgba(255,255,255,0.95);
    border-radius: 5px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    padding: auto;
    position: center;

}

.btn-group-vertical {
    width: 200px;
}

#left {
    text-align: center;
    padding: 30px 40px 30px 40px ;
    overflow: auto; 

}

#right {
    padding: 30px 30px 30px 30px ;
    overflow: auto;
}

.form-label {
    font-weight: bold;
}

#thead {
    font-weight: bold;
}

#taskBox {
    font-size: 1em;  
}


