<!DOCTYPE html>
<html lang="en" ng-app="TaskApp">
<head>
    <meta charset="UTF-8">
    <title>Futurism's To Do List</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <script src = "/bower_components/jquery/dist/jquery.js"></script>
    <script src = "/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src = "/bower_components/angular/angular.js"></script>
    <link rel="stylesheet" href="assets/css/index.css">
    <script src="app/app.js"></script>      
    <script src="app/services/services.js"></script>

</head>
<body ng-controller="TaskCtrl as taskCtrl">
    
    <div id="header">Futurism's To Do List</div>
    <div id="obj-wrapper" class="container-fluid">
        <div class="row">        
            <div class="col-xs-12 col-md-3" id="left">

 
                <div class="btn-group-vertical">
                    <form>
                         <input type="text" class="form-control" placeholder="Search Tasks" ng-model="taskCtrl.filter"></input>
                    </form>
                    <br/>
                    <button type="button" class="btn btn-default" ng-click="taskCtrl.filter='Pending'">All Tasks</button>
                    <br/>
                    <!--Dynamic Category List & display by category -->        
                    <button type="button" class="btn btn-default" ng-repeat="y in taskCtrl.categoryLabel"
                        ng-click="taskCtrl.filter=y">{{ y }}</button><br/>
                   
                    <button type="button" class="btn btn-default" ng-click="taskCtrl.filter='Done'">Completed Tasks</button>
                
                <!--Add new category-->
                <form name="catForm" ng-model="taskCtrl.categoryLabel" class="form-inline" novalidate>
                    <br/>
                        <input type="text" placeholder="Input New Category" class="form-control" 
                                ng-model="taskCtrl.newCategory" required></input>
                        <button type="button" class="btn btn-default btn-font" ng-click="taskCtrl.addCategory()" 
                                ng-disabled="catForm.$invalid"> Add Category  </i>
                        </button>
                </form>
                </div>
            </div>
            
            <div class="col-xs-12 col-md-9" id="right">
                <!--Add New Task-->
                <form name ="taskForm" class="form-inline form-label" ng-model="taskCtrl.array" novalidate>
                        ID : <input type="number" class="form-control" name="task_id" id="name" placeholder=" 00000" required style="max-width:80px;"
                                ng-model="taskCtrl.task_id"></input>
                        Task : <input type="text" class="form-control" name="task_description" id="name" placeholder="What would you like to do?" required 
                                ng-model="taskCtrl.task_description"></input>
                        Due Date : <input type="date" class="form-control" name="due_date" id="due_date" ng-model="taskCtrl.due_date" required style="max-width:130px;"></input>

                    <div class="form-group">
                        <label>Category :</label>
                        <select class="form-control" required ng-model="taskCtrl.category">
                            <option ng-repeat="x in taskCtrl.categoryLabel" name="category" id="category" value="{{x}}">{{x}}</option>
                        </select>
                    </div>

                    <button type = "button" class="btn btn-default" ng-disabled="taskForm.$invalid" ng-click="taskCtrl.add()">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </button>
                </form>

                <!--Handles status messages-->

                <div class="alert" role="alert" alert-dismissable ng-show="TaskCtrl.stats.code"
                    ng-class="{'alert-success': TaskCtrl.stats.code == 0, 'alert-danger': TaskCtrl.stats.code != 0 }">

                    <button class="close" data-dismiss="alert"> 
                    <!-- data dismiss removes the element. This alert won't show up again before refreshing -->
                    &times;
                    </button>

                    <p>Error No: {{ TaskCtrl.stats.code + " " + TaskCtrl.stats.message }}</p>

                </div>    



                <!--List of Tasks-->
                <br/>
                
                <table class="table table-striped">
                    <thead id="thead">
                        <tr>
                            <td>ID</td>
                            <td>Tasks</td>
                            <td>Due Date</td>
                            <td>Category</td>      
                            <td>Status</td>           
                            <td></td>                           
                        </tr>
                    </thead>
                    <tbody>
                        
                        <tr ng-repeat="i in taskCtrl.array | filter: {$: taskCtrl.filter} track by $index" 
                            ng-class="{danger:entry.active}">
                            <td>                  
                               <span ng-hide="editMode">{{i.task_id}}</span>
                               <input type="text" class ="form-control" ng-show="editMode"  required ng-model="i.task_id" size="30"/>
                            </td>

                            <td>                  
                               <span ng-hide="editMode">{{i.task_description }}</span>
                               <input type="text" class ="form-control" ng-show="editMode"  required ng-model="i.task_description" size="30"/>
                            </td>
                            <td>
                               <span ng-hide="editMode">{{i.due_date}}</span>
                               <input type="text" class ="form-control" ng-show="editMode"  required ng-model="i.formattedDate" size="5"/>
                            </td>
                            <td>
                               <span ng-hide="editMode">{{i.category}}</span>
                               <input type="text" class ="form-control" ng-show="editMode"  required ng-model="i.category" size="17"/>
                            </td>
                            <td>
                               <span ng-hide="editMode">{{i.status}}</span>
                               <input type="text" class ="form-control" ng-show="editMode"  required ng-model="i.status" size="4"/>
                            </td>                  


                            <td>
                                <button type="submit" class="btn btn-default"><i class="fa fa-check" aria-hidden="true"
                                ng-click="taskCtrl.check($index)"></i>
                                </button>
                              
                                <button type="submit" class="btn btn-default"><i class="fa fa-trash" aria-hidden="true"
                                ng-click="taskCtrl.delete($index)"></i>
                                </button>            

                                 <button type="submit" ng-hide="editMode" ng-click="editMode = true; taskCtrl.editArray($index)" class="btn btn-default"><i class="fa fa-pencil"></i>
                                 </button>  

                                <button type="submit" data-ng-show="editMode" ng-click="editMode = false" class="btn btn-default">
                                   <i class="fa fa-floppy-o" aria-hidden="true"></i>
                                </button>
                                <button type="submit" data-ng-show="editMode" ng-click="editMode = false; taskCtrl.cancel($index)" class="btn btn-default">
                                    <i class="fa fa-ban" aria-hidden="true"></i>
                                </button>
                            </td>            
                        </tr>  
          
                    </tbody>
                </table>
            </div>   
        </div>
    </div>
</body>
</html>